<main class="container">
    <header class="row">
        <h3>Welcome back, {{user.username}}!</h3>
    </header>
    <section class="row">
        <h3>Favorites</h3>
    </section>
    <section class="row">

        {{!-- Favorite resort --}}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- <img src={{resort.img}}> -->
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">delete</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{resort.name}}</span>
                    <p>{{resort.overview}}</p>
                </div>
                <div class="card-action">
                    <a href={{resort.url}}>Resort Website</a>
                </div>
            </div>
        </div>

        {{!-- Favorite activity --}}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <!-- <img src={{activity.img}}> -->
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">delete</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title">{{activity.name}}</span>
                    <p>{{activity.name}}</p>
                </div>
            </div>
        </div>

    </section>

    {{!-- Past favorites --}}
    {{!-- <section class="row">
        <h3>Past favorites</h3>
    </section>

    <section class="row">
        <div class="col s12 m6">
            <h4>Resort</h4>
            {{#each pastFavResort}}
            {{> pastFavs/pastFavResort-block}}
            {{/each}}
        </div>
        <div class="col s12 m6">
            <h4>Activity</h4>
            {{#each pastFavActivity}}
            {{> pastFavs/pastFavActivity-block}}
            {{/each}}
        </div>
    </section> --}}
</main>