<main class="container">
    <header class="row">
        <h3>Welcome back, {{firstName}}!</h3>
    </header>
    <section class="row">
        <h3>Favorites</h3>
    </section>
    <section class="row">

        {{!-- Favorite resort --}}
        <article class="card col s6 m6">
            <div class="card-image waves-effect waves-block waves-light">
                {{!-- Resort image --}}
                <img class="activator" src={{url}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{favResort}}<i
                        class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{favResort}}<i
                        class="material-icons right">close</i></span>
                <p>{{overview}}</p>
            </div>
        </article>

        {{!-- Favorite activity --}}
        <article class="card col s6 m6">
            <div class="card-image waves-effect waves-block waves-light">
                {{!-- Activity image --}}
                <img class="activator" src={{url}}>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{favActivity}}<i
                        class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{favActivity}}<i
                        class="material-icons right">close</i></span>
                <p>{{description}}</p>
            </div>
        </article>
    </section>
</main>