<div class = "container">


<section class="row">
    {{!-- Activity Pic --}}
    <div class="col s12 m6">
        <div class="row">
            <img src="{{actImage}}" alt="{{name}} Image">
        </div>
        {{!-- Add carousel --}}
        {{!-- <div class="row">
        </div> --}}
    </div>

    <div class="col s12 m6">
        <h1>{{name}}</h1>
        <h2>About</h2>
        <p>{{about}}</p>
    </div>
</section>

<section class="row">
    <div class="col">
        <h2>Beginner's Guide</h2>
        <p>{{guide}}</p>
      
        <h3>Resorts</h3>
        <ul>
            {{#each resortList}}
            <li><a href="/resort/{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
</section>


</div>