{{!-- <div class="activityBackground"> --}}

<div class="container">

    <section class="row section">
        {{!-- Activity Pic --}}
        <div class="col s12 m6">
            <div class="row">
                <img src="{{actImage}}" alt="{{name}} Image" class="responsive-img">
            </div>
            {{!-- Add carousel --}}
        </div>
    </section>

    <section class="row section">
        <div class="col">
            {{!-- When user is logged in, show star or empty star --}}
            {{#if user}}

            {{!-- If it matches user favorite, display filled star --}}
            {{#if checkFav}}
            <!-- <h1>{{name}}<i id="star-icon-filled" class="material-icons">star</i></h1> -->
            <h1>{{name}}</h1>
            <i onclick="activityFav(this, {{id}}, '{{user.username}}', '{{user.fav_resort}}', {{user.id}})"
                class="material-icons">star</i>
            {{!-- If not, display empty star --}}
            {{else}}
            <!-- <h1>{{name}}<i id="star-icon-empty" class="material-icons">star_border</i></h1> -->
            <h1>{{name}}</h1>
            <i onclick="activityFav(this, {{id}}, '{{user.username}}', '{{user.fav_resort}}', {{user.id}})"
                class="material-icons">star_border</i>
            {{/if}}

            {{!-- User who is not logged in will not see stars --}}
            {{else}}
            <h1>{{name}}</h1>
            {{/if}}
            <h2>About</h2>
            <p>{{about}}</p>
        </div>
    </section>
    <div class="divider"></div>

    <section class="row section">
        <div class="col">
            <h2>Beginner's Guide</h2>
            <p>{{guide}}</p>
        </div>
    </section>
    <div class="divider"></div>

    <section class="row section">
        <h3>Resorts</h3>
        <ul>
            {{#each resortList}}
            <li><a href="/resort/{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </section>

</div>

{{!-- </div> --}}