<div class="resortBackground">

    <div class="container">

        <section class="row">
            {{!-- Resort Pic --}}
            <div class="col s12 m6">
                <div class="row">
                    <img src="https://via.placeholder.com/500" alt="placeholder image">
                </div>
                {{!-- Add carousel --}}
                {{!-- <div class="row">
        </div> --}}
            </div>

            <div class="col s12 m6">
                {{#if user}}

                {{!-- If it matches user favorite, display filled star --}}
                {{#if checkFav}}
                <h1>{{name}}<i id="star-icon-filled" class="material-icons">star</i></h1>
                {{!-- If not, display empty star --}}
                {{else}}
                <h1>{{name}}<i id="star-icon-empty" class="material-icons">star_border</i></h1>
                {{/if}}

                {{!-- User who is not logged in will not see stars --}}
                {{else}}
                <h1>{{name}}</h1>
                {{/if}}
                
                <h2>Overview</h2>
                <p>{{{overview}}}</p>
                <h2>Location</h2>
                {{!-- Map by leaflet --}}
                <aside id="mapId" style="width: 600px; height: 400px;"></aside>
                <p>Address: {{address}}</p>
                <span>Phone Number: {{phone}}</span>
                <h2>Policies</h2>
                <p>{{{policy}}}</p>

                <div class="divider"></div>

            </div>
        </section>
        <section class="row">
            <div class="col">
                <h2>Activities</h2>
                <ul>
                    {{#each activityList}}
                    <li><a href="/activity/{{id}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </section>

        {{> map/map-block}}

    </div>

</div>