<div class= "resortBackground">

<div class = "container">

<section class="row">
    {{!-- Resort Pic --}}
    <div class="col s12 m6">
        <div class="row">
            <img src="https://via.placeholder.com/500" alt="placeholder image">
        </div>
        {{!-- Add carousel --}}
        {{!-- <div class="row">
        </div> --}}
    </div>

    <div class="col s12 m6">
        <h1>{{resort.name}}</h1>
        <h2>Overview</h2>
        <p>{{overview}}</p>
        <span>Phone Number: {{phone}}</span>
        <h2>Location</h2>
        {{!-- Map by leaflet --}}
        <aside id="mapId" style="width: 600px; height: 400px;"></aside>
        <p>{{address}}</p>
        <h2>Policies</h2>
        <p>{{policy}}
        </p>
        <li>
            <div class="divider"></div>
        </li>
    </div>
</section>

<section class="row">
    <div class="col">
        <h2>Activities</h2>
        <ul>
            {{#each activity}}
            {{> activities/activity-block}}
            {{/each}}
        </ul>
    </div>
</section>

{{> map/map-block}}

</div>

</div>