<script>
	// create map object
	var mymap = L.map('map-id').setView([{{resortLat}}, {{resortLon}}], 16);

	// create the interactive map layer using mapbox and add it to the map object
	L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{envToken}}", {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

	// create a marker on the resort with the name and address, then add it to the map
	L.marker([{{resortLat}}, {{resortLon}}]).addTo(mymap)
		.bindPopup(`<b>{{name}}</b><br />{{address}}`).openPopup();

	// create a popup object
	var popup = L.popup();

	// listener function on the map, when clicked, show the lat + lon of the clicked spot
	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}

	// add the listener
	mymap.on('click', onMapClick);
    </script>